* {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: black;
}


/*비디오  설정*/
#video {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}
/*비디오 설정 끝*/


/*slide 설정*/
.slideMenu {
	width: 400px;
	height: 100%;
	text-align: center;
	position: absolute;
	background-color: #FF0040;
	opacity: 0.5;
	transition: all 0.7s;
	transform: skew(-35deg);
	top: 0;
	left: -420px;
}

.slideMenu:hover {
	transition: left 0.7s;
	opacity: 0.8;
	left: -300px;
}
/*slide 설정 끝*/


/*slide안 이미지*/
.slideMenu > .logo {
	position: absolute;
	transform: skew(30deg);
	width: 350px;
	height: 100px;
	left: -50px;
	top: 0;
}

.slideMenu > .ririSD {
	position: absolute;
	width: 160px;
	height: 150px;
	transform: skew(30deg);
	left: 200px;
	top: 300px;
}
/*slide안 이미지 끝*/


/*메뉴 설정*/
.menu {
	width: 220px;
    position: absolute;
    top: 70px;
    right: 0px;
}

.menu > li {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	font-size: 20px;
}

.menu > li:hover {
	transform: translateX(10px);
	transition: all 0.4s;
	background-color: white;
}

.menu > li > a > p {
	display: inline-block;
    transform: skewX(20deg);
    line-height: 30px;
}
/*메뉴 설정 긑*/